*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../img/wood.png);
}

#container{
  width: 65%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

header{
  height: 350px;
  margin-top: 1%;
}

.logotree{
  position: relative;
  background-image: url(../img/logotree.jpg);
  width: 100%;
  height: 85%;
  background-position: center;
  background-size: cover;
}

.logotree h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  border: 5px solid #ffffff;
}

.titolo h2{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.main-menu{
  text-align: center;
  background-color: #616D7E;
  height: 50px;
}

.main-menu li{
  list-style: none;
  display: inline-block;
  padding: 1%;
}

.main-menu a{
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

.main-menu li:hover{
  border-bottom: 2px solid #ffffff;
}

main{
  height: 800px;
  margin: 1% 0;
}

.column-left{
  float: left;
  width: 20%;
  border-radius: 10px;
  background-color: #ffffff;
  padding:  0 2%;
}

.icon-rss{
  display: inline-block;
  width: 10%;
  font-size: 26px;
  color:#F87431;
  vertical-align: top;
  margin-right: 5%;
}

.organicthemes{
  display: inline-block;
  font-size: 18px;
  width: 80%;
  margin-bottom: 10%;
}

.link-list li{
  list-style: none;
  padding: 5% 0;
}

.link-list a:hover{
  color: #FF0080;
}

.organicthemes::after{
  content: "";
  display: block;
  clear: both;
}

.link-list a{
  text-decoration: none;
  color: #348017;
}

.column-central{
  float: left;
  width: 48%;
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 6%;
  margin-right: 6%;
  padding: 3%;
}

.column-central h3{
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.column-right{
  float: right;
  width: 20%;
  margin: 0;
}

.widget{
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10%;
  padding: 10%;
}

.widget h3{
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
}

main::after{
  content: "";
  display: block;
  clear: both;
}

footer{
  position: relative;
  height: 150px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 1%;
}

.copyright{
  font-style: italic;
  font-weight: 700;
  text-align: center;
  padding: 2px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.social a{
  font-size: 40px;
  color: rgba(0, 0, 0, 0.3);
}

.social{
  padding-top: 3%;
}

.fa-facebook-square{
  float: left;
  text-align: center;
  width: 33.3%;
  height: 100%;
}

.fa-instagram{
  float: left;
  text-align: center;
  height: 100%;
  width: 33.3%;
}

.fa-github{
  float: right;
  text-align: center;
  width: 33.3%;
  height: 100%;
}

.social::after{
  content: "";
  display: block;
  clear: both;
}

.facebook i:hover{
  color: #1569C7;
}

.instagram i:hover{
  color: #8D38C9;
}

.github i:hover{
  color: #000000;
}
